{% if title %}
  <h4 class="facet-title">{{ title }}</h4>
{% endif %}
<input class="range-slider" type="text" data-min="{{ min }}" data-max="{{ max }}" data-from="{{ from|default(min) }}" data-to="{{ to|default(max) }}">
<div class="clearfix">
  <div class="pull-left">
    {{ 'from'|t }}
    <input class="form-control" name="range[from]" type="number" value="{{ from|default(min) }}" min="{{ min }}" max="{{ max }}">
    {{ 'to'|t }}
    <input class="form-control" name="range[to]" type="number" value="{{ to|default(max) }}" min="{{ min }}" max="{{ max }}">
  </div>
  <div class="pull-right">
    <button class="btn btn-link" type="submit" title="{{ 'Refresh search results'|t }}"><span class="glyphicon glyphicon-repeat"></span></button>
  </div>
</div>
