{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ previous"
 *     or "next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 *
 * @ingroup templates
 */
#}
{% if items %}
  <nav class="pager-nav" role="navigation">
    <ul class="pagination js-pager__items">
      {# Print first item if we are not on the first page. #}
      {% if items.first %}
        <li class="pager__item pager__item--first">
          <a href="{{ items.first.href }}"{{ items.first.attributes|without('href') }}>
            {{ items.first.text|default('&laquo; First'|t) }}
          </a>
        </li>
      {% else %}
        <li class="pager__item pager__item--first disabled">
          <span>{{ '&laquo; First'|t }}</span>
        </li>
      {% endif %}
      {# Print previous item if we are not on the first page. #}
      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a href="{{ items.previous.href }}"{{ items.previous.attributes|without('href') }}>
            {{ items.previous.text|default('&lsaquo; Previous'|t) }}
          </a>
        </li>
      {% else %}
        <li class="pager__item pager__item--previous disabled">
          <span>{{ '&lsaquo; Previous'|t }}</span>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="pager__item pager__item--ellipsis ellipsis" role="presentation">
          <span>&hellip;</span>
        </li>
      {% endif %}
      {# Now generate the actual pager piece. #}
      {% for key, item in items.pages %}
        {% if current == key %}
          <li class="pager__item is-active active">
            <span>{{- key -}} <span class="sr-only">{{ '(current)'|t }}</span></span>
          </li>
        {% else %}
          <li class="pager__item">
            <a href="{{ item.href }}">{{- key -}}</a>
          </li>
        {% endif %}
      {% endfor %}
      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="pager__item pager__item--ellipsis ellipsis" role="presentation">
          <span>&hellip;</span>
        </li>
      {% endif %}
      {# Print next item if we are not on the last page. #}
      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a href="{{ items.next.href }}"{{ items.next.attributes|without('href') }}>
            {{ items.next.text|default('Next &rsaquo;'|t) }}
          </a>
        </li>
      {% else %}
        <li class="pager__item pager__item--next disabled">
          <span>{{ 'Next &rsaquo;'|t }}</span>
        </li>
      {% endif %}
      {# Print last item if we are not on the last page. #}
      {% if items.last %}
        <li class="pager__item pager__item--last">
          <a href="{{ items.last.href }}"{{ items.last.attributes|without('href') }}>
            {{ items.last.text|default('Last &raquo;'|t) }}
          </a>
        </li>
      {% else %}
        <li class="pager__item pager__item--last disabled">
          <span>{{ 'Last &raquo;'|t }}</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
