{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - icon: An icon.
 * - icon_only: Flag to display only the icon and not the label.
 * - icon_position: Where an icon should be displayed.
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\FileLink::preprocessVariables
 */
#}
<div{{ attributes }}>
  <a href="{{ url }}" class="thumbnail">
    <div class="file-name">{{ file_name }}</div>
    <div class="file-info">
      {{ file_size }} <span class="file-reveal">{{ '&ndash; Click to open'|t }}</span>
    </div>
  </a>
  <div class="file-actions file-reveal">
    <a href="{{ url }}" class="btn btn-default btn-sm" download>{{ 'Download'|t }}</a>
  </div>
</div>
